* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html {
  --secColor: rgba(255, 255, 255, 0.7);
  --mainColor : #f4623a;

}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body {
  height: 3000px;
}
/*start header*/
.header {
  font-family: 'Merriweather Sans', sans-serif;

}
.navbar {
  position: fixed;
  width: 100%;
  margin-top: 15px;
}
.navbar.container {
  overflow: auto;
}

.logo {
  float: left;
  width: 35%;
  color: var(--secColor);
  text-transform: capitalize;
  font-size: 30px;
}
.nav {
  float: left;
  width: 65%;
  text-align: right;
  font-size: 20px;
}
/*
// Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) { 
  .logo,.nav{
    width: 100%;
    text-align: center;
  }
  .logo{
    margin-bottom: 20px;
  }
}
/*
// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .logo,.nav{
    width: 100%;
    text-align: center;
  }
  .logo{
    margin-bottom: 20px;
  }
 }
.nav.list {
    list-style: none;
}
.link-nav {
    display: inline-block;
}

.link-nav {
  color: var(--secColor);
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 15px;
  
}
.header-content {
    background-image: url('../imges/bg-masthead.jpg');
height: 100vh;
background-size: cover;
background-position: 0 --110px;
}
.header-content-items{
    text-align: center;
padding-top: 200px;
}
@media (max-width: 575.98px) { 
  .header-content-items{
    padding-top: 100px;
    
  }
}
@media (max-width: 575.98px) { 
  
}
.main-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    width: 50%;
    margin: auto;
}
@media (max-width: 575.98px) { 
  .main-title{
font-size: 30px;
width: 100%;
margin-top: 100px;

  }
}
@media (max-width: 575.98px) { 
  .main-title{
    font-size: 30px;
    width: 100%;
    margin-top: 100px;
      }
}
.line{
background-color: var(--mainColor);
height: 3px;
width: 100px;
display: block;
margin:20px  auto;
}
.main-description{
    color: var(--secColor);
    font-size: 19px;
    width: 32%;
    margin: auto;

}
@media (max-width: 575.98px) { 
  .main-description{
width: 100%;
margin-top: 70px; 
 }
}
@media (max-width: 575.98px) { 
  .main-description{
    width: 100%;
    margin-top: 70px;
      }
}
.link{
   text-decoration: none;
   color: #fff;
   margin-top: 30px;
   display: block;
   background-color: var(--mainColor);
   width: fit-content;
   margin:30px auto;
   padding: 30px 50px;
   border-radius: 39px;
}
.header .overlay{
background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
    height: 100%;
}
/*end header*/
/*start about*/
.about{
background-color: var(--mainColor);
text-align: center;
padding-bottom: 100px;
padding-top: 100px;
}
.about-heading{
    color : white;
    padding-top: 100px;


}
.about .line{
    background-color: white;
}
.about-description{
    color: rgba(255, 255, 255, 0.75);
    width: 31%;
    margin: auto;
}
/*
مش راضي يزبط الربط  ف رحت عملت كود السي اس اس بملف ال
html
.about .link , .download.link {
    background-color: white;

}
*/
/*end about*/

/*start services*/
.services{
    padding-top: 100px;
    text-align: center;
}
.services-heading{
    text-transform: capitalize;
}
.services-item{
    overflow: auto;
}
.service-item{
    float: left;
    width: 25%;
    margin-top: 73px;
}
@media (max-width: 575.98px) { 
  .service-item{
width: 50%;
margin-bottom: 20px;
}
}
@media (max-width: 575.98px) { 
  .service-item{
    width: 50%;
    margin-bottom: 20px; 
     }
}
.service-item .fas{
    color: var(--mainColor);
    font-size: 70px;
    margin-bottom: 10px;
}
.service-title{
    text-transform: capitalize;
}
.service-description{
    color: #c2bcbb;
    width: 55%;
    margin: auto;
    font-size: 18px;
    margin-top: 10px;

}
/*end services*/

/*start portflio*/
.portfolio{
  padding-top: 300px;
}
.portfolio-items{
  overflow: hidden;
}
.portfolio .portfolio-item {
  float: left;
  width: 33.33%;
  position: relative;
}
@media (max-width: 575.98px) { 
  .portfolio .portfolio-item{
      width: 50%;
  }
}
@media (max-width: 575.98px) { 
  .portfolio .portfolio-items{
      width: 100%;
     }
}
.portfolio img {
  display: block;
}
.portfolio .overlay { 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mainColor);
  opacity: 0;
  
}
.overlay .overlay-content {
  text-align: center;
  padding-top: 149px;
  
}
.portfolio-main{
color: var(--secColor);
font-size: 20px;
}
.portfolio-second {
color: #fff;
font-size: 30px;
}
.portfolio-item:hover .overlay {
opacity: 0.8;
}
/*end portfolio*/

/*start download*/
  .download{
   padding-bottom: 100px;
   padding-top: 100px;
    background-color: #212529;
    text-align: center;
  }
  .download-heading{
    color: white;
    text-transform: capitalize;
   
  }
  .download .link {
    text-decoration: none;
    color: #000;
    margin-top: 30px;
    display: block;
    background-color: white;
    width: fit-content;
    margin: 30px auto;
    padding: 30px 50px;
    border-radius: 39px;
    text-transform: uppercase;
  }


/*end download*/

/*start contact*/
.contact{
  padding-top: 100px;
}
.contact-title{
  text-align: center;
  text-transform: capitalize;
}
.contact-description{
  color:#6c757d ;
  width: 31%;
  text-align: center;
  margin: auto;
}
 .contact-items{
   overflow: hidden;
   width:50%;
   margin: auto; 
   margin-top: 30px;
   padding-bottom: 50px;

 }
.contact-item{
  float: left;
  width: 50%;
  text-align: center;
}
@media (max-width: 575.98px) { 
  .contact-item{
      width: 100%;
  }
}
@media (max-width: 575.98px) { 
  .contact-item{
    width: 100%;
}
}
.contact-item .fas {
  display: block;
  font-size: 40px;
  opacity: 0.6; 
  margin-bottom: 10px;
}
.contact-item .contact-info {
  font-size: 20px;
}

.contact-item .contact{
  color: var(--mainColor);
}
/*end contact*/

/*start footer*/
.footer{
  background-color: #f8f9fa;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #6c757d ;
}
/*end footer*/


